* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Avenir";
    src: url(./fonts/avenirnextcyr-demi.ttf);
    font-weight: 300;
}

.container {
    width: 360px;
    margin: auto;
}

.hidden {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
}


.popup {
    width: 302px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: url(./img/popup-fon.png);
    background-position: center;
    margin-top: 40px;
    border-radius: 15px;
    position: relative;
}

.popup-close {
    position: absolute;
    color: black;
    right: 0px;
    top: -20px;
    cursor: pointer;
}

.popup-close::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(./img/close-popup.svg);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -12px;
    right: 2px;
}

.popup-title {
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: left;
    font-family: "Avenir";
}

.firstWord {
    color: #00E0FF;
}


.input-title {
    display: block;
    font-size: 13px;
    letter-spacing: 10%;
    color: #00E0FF;
    margin-bottom: 10px;
    font-family: "Avenir";
}

.popup-input {
    font-size: 15px;
    letter-spacing: 10%;
    width: 247px;
    height: 60px;
    background-color: rgb(51, 108, 132);
    background-image: url(./img/popup-input.svg);
    border: none;
    border-radius: 10px;
    color: white;
    padding-left: 21px;
    margin-bottom: 20px;
    font-family: "Avenir";
}

::placeholder {
    color: white;
    font-family: "Avenir";
}

.first-description {
    background-image: url(./img/first-fone.png);
    padding-top: 24px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.popup-btn {
    width: 247px;
    height: 60px;
    background: linear-gradient(#03E1FF, #13CDC2);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-family: "Avenir";
}

.popup-toggle:checked+.hidden {
    display: flex;
}

.popup-toggle {
    display: none;
}

.popupBtn {
    display: flex;
}

.header {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 195px;
    height: 58px;
    background-image: url(./img/header-logo.svg);
}

.logo-btn {
    width: 37px;
    height: 35px;
    background-image: url(./img/header-icon.svg);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.welcome {
    color: #747D81;
    font-size: 16px;
    font-family: "Avenir";
    margin-top: 60px;
}

.title {
    font-family: "Avenir";
    font-size: 51px;
    background-image: linear-gradient(to bottom, #FFFFFF 32%, #1A3031);
    color: transparent;
    background-clip: text;
}

.advertising-the-course {
    font-family: "Avenir";
    color: #FFFFFF;
    font-size: 16px;
    width: 300px;
    margin-top: 15px;
}


.advantage {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.advantage-icon {
    width: 49px;
    height: 49px;
    background-image: url(./img/border-imege.svg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.icon {
    background-image: url(./img/advantage-icon.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;

}

.advantage-description-section {
    width: 236px;
}

.advantage-tatle {
    font-size: 16px;
    color: #FFFFFF;
}

.advantage-description {
    font-size: 16px;
    color: #00E0FF;
    margin-top: 15px;
}

.neron {
    background-image: url(./img/Neuron_4-1024x614\ 1.png);
    height: 284px;
}

.consultation {
    width: 63px;
    height: 63px;
    background: linear-gradient(#03E1FF, #13CDC2);
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 60px;
    border: 5px white;
}


.whatsapp {
    width: 63px;
    height: 63px;
    background: linear-gradient(#03E1FF, #13CDC2);
    border-radius: 50px;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 25px;
    border: 10px solid rgba(3, 255, 255, .1);
    margin-bottom: 80px;
}

.consultation-icon {
    background-image: url(./img/icon-consultation.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.whatsapp-icon {
    background-image: url(./img/icon-whatsapp.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin: auto;
}


.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 80px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 75px;
    border-radius: 18px;
    color: #FFFFFF;
    background: linear-gradient(#03E1FF, #13CDC2);
    font-family: "Avenir";
    text-align: center;
    border: none;
}


.resons {
    display: flex;
    flex-direction: column;
    background-image: url(./img/resons-fon.png);
    font-family: "Avenir";
    padding-left: 30px;
    padding-top: 55px;
    padding-bottom: 70px;
}

.resons-title {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "Avenir";
}

.resons-item {
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    margin-top: 20px;
    padding-left: 16px;
    padding-bottom: 22px;
    padding-top: 20px;
    background-image: url(./img/resons-fon.png);
}

.item-icon1 {
    width: 40px;
    height: 40px;
    background-image: url(./img/resons-icon1.svg);
    background-repeat: no-repeat;
}

.item-icon2 {
    width: 40px;
    height: 40px;
    background-image: url(./img/resons-icon2.svg);
    background-repeat: no-repeat;
}

.item-icon3 {
    width: 40px;
    height: 40px;
    background-image: url(./img/resons-icon3.svg);
    background-repeat: no-repeat;
}

.item-icon4 {
    width: 40px;
    height: 40px;
    background-image: url(./img/resons-icon4.svg);
    background-repeat: no-repeat;
}

.item-icon5 {
    width: 40px;
    height: 40px;
    background-image: url(./img/resons-icon5.svg);
    background-repeat: no-repeat;
}

.item-icon6 {
    width: 40px;
    height: 40px;
    background-image: url(./img/resons-icon6.svg);
    background-repeat: no-repeat;
}

.item-icon7 {
    width: 40px;
    height: 40px;
    background-image: url(./img/resons-icon7.svg);
    background-repeat: no-repeat;
}

.item-description {
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px;
}

.blick {
    width: 54px;
    height: 17px;
    background-position: center;
    background-image: url(./img/resons-blick.svg);
    margin-bottom: -30px;
    margin-left: -15px;
    border-radius: 17px;
}

.II {
    display: flex;
    flex-direction: column;
    font-family: "Avenir";
    padding-left: 24px;
    padding-top: 55px;
    background-image: url(./img/ii-background.png);

}

.II-title {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "Avenir";
}

.II-item {
    width: 300px;
    border-radius: 10px;
    display: flex;
    background-image: url(./img/ii-item-bascground.svg);
    padding-right: 30px;
    margin-top: 7px;
    padding-left: 24px;
    padding-bottom: 22px;
    padding-top: 17px;
}

.II-item-icon {
    margin-right: 20px;
    width: 33px;
    height: 33px;
    background-image: url(./img/ii-icon.svg);
    background-repeat: no-repeat;
}

.II-image {
    background-image: url(./img/ii-image.png);
    height: 262px;
    margin-left: -23px;
    margin-bottom: 5px;
}

.II-item-description {
    width: 230px;
    font-size: 14px;
    font-family: "Avenir";
}

.important {
    display: flex;
    flex-wrap: wrap;
    font-family: "Avenir";
    padding-left: 24px;
    padding-top: 55px;
    padding-bottom: 50px;
    background-image: url(./img/important-fon.png);
    gap: 17px 22px;
}

.important-title {
    font-size: 30px;
    font-family: "Avenir";
}

.important-item {
    width: 140px;
    margin-top: 17px;

}

.important-item-img {
    width: 140px;
    height: 100px;
}

.img1 {
    background-image: url(./img/important-item1.svg);
}

.img2 {
    background-image: url(./img/important-item2.svg);
}

.img3 {
    background-image: url(./img/important-item3.svg);
}

.img4 {
    background-image: url(./img/important-item4.svg);
}

.important-item-description {
    margin-top: 17px;
    font-size: 14px;
    font-family: "Avenir";
}

.course-description {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    font-family: "Avenir";
    padding-left: 24px;
    padding-top: 55px;
    background-image: url(./img/course-description-fon.png);
}

.coyrse-description-title {
    font-size: 30px;
    font-family: "Avenir";
    margin-bottom: 30px;
}

.parts-course {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.course-item{
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}

.course-item-icon {
    display: flex;
    background-color: #4ABCEC;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.course-item-title {
    font-size: 14px;
    font-family: "Avenir";
    color: #4ABCEC;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

.course-item-description {
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 35px;
    margin-right: 20px;
}

/* Кнопка выпадающего списка */
.dropbtn {
    width: 301px;
    height: 56px;
    background-image: url(./img/dropbtn-fon.svg);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 264px;
    background-image: url(./img/course-description-fon.png);
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}